* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #222;
  background-color: #fff;
  padding: 40px 1px;
  font-size: 13px;
}

.breadcrumb {
  background: #ffffff;
  padding: 10px 60px 10px 1px;
  font-size: 12px;
}

.breadcrumb a {
  color: #000000;
  text-decoration: none;
}
.breadcrumb a:hover {
  color: #58bc82;
  text-decoration: underline;
}
section {
  padding: 1px 80px;
}

h1,
h2 {
  color: #222;
  margin-bottom: 15px;
}

h2,
h3 {
  margin-top: 25px;
  color: #58bc82;
}

p {
  margin-bottom: 10px;
}

ul {
  margin: 10px 0 0 20px;
}

.contact-info {
  background: #f9f9f9;
  padding: 40px 80px;
  text-align: center;
}

.contact-info h2 {
  color: #58bc82;
  font-size: 24px;
}

.info p {
  margin: 6px 0;
}
.intro,
.about,
.why-choose {
  margin-left: 60px;
  margin-right: 100px;
}
