* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #222;
  background-color: #fff;
  padding: 40px 1px;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-left: 120px;
  padding: 20px 0;
  margin-bottom: 50px;
}

.breadcrumb {
  font-size: 14px;
  color: #000000;
  margin-bottom: 25px;
  margin-top: 12px;
  font-size: 15px;
}

.breadcrumb a {
  text-decoration: none;
  color: #000000;
}
.breadcrumb a:hover {
  text-decoration: underline;
  color: #58bc82;
}
.main-content {
  display: flex;
  gap: 40px;
}

.sidebar {
  width: 160px;
  margin-left: 140px;
}

.sidebar h2 {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.sidebar p {
  margin-bottom: 20px;
  font-size: 14px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 12px;
}

.sidebar-menu-li {
  width: 150px;
  height: 50px;
  padding-top: 13px;
  margin-left: -5px;
  border: none;
  background-color: #58bc82;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 170px;
}
.sidebar-menu div a {
  color: white;
  text-decoration: none;
}
.sidebar .sidebar-menu li a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
  font-size: 15px;
}

.sidebar-menu li a:hover {
  text-decoration: underline;
  color: #58bc82;
}

/*======Cột Phải======*/
.content {
  flex: 1;
  margin-top: 0px;
  margin-left: 80px;
  margin-right: 222px;
}

.content h1 {
  font-size: 22px;
  color: #000;
  margin-bottom: 20px;
}

.info-note {
  font-size: 14px;
  margin-bottom: 25px;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 500px;
  font-size: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 6px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 15px;
}

.btn {
  background-color: #58bc82;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  width: 180px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #48a372;
}
