* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #222;
  background-color: #fff;
  padding: 40px 1px;
}
.checkout-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 40px 60px;
}

.checkout-left {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  margin-left: 200px;
}
.checkout-right {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  margin-left: 10px;
  margin-right: 100px;
}

.checkout-left {
  flex: 2;
}

.checkout-right {
  flex: 1;
}

h2 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #333;
}

.shipping-form label {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  color: #444;
}

.shipping-form input,
.shipping-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.shipping-method,
.payment-method {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
}

.price {
  float: right;
  color: #666;
}

.order-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.order-item img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.summary {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.summary p,
.summary h3 {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.total {
  color: #007b4f;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.back {
  text-decoration: none;
  color: #007bff;
}

.order-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
}

.order-btn:hover {
  background: #004ea1;
}
