* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
}

header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

/* --- Dòng trên: Search + Logo + Icon --- */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 60px 20px 60px;
}

/* Thanh tìm kiếm */
.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 8px 10px;
  width: 350px;
  border: 1px solid #333;
  border-right: none;
  outline: none;
  font-size: 16px;
}

.search-box button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
}
.search-box button a {
  text-decoration: none;
  color: white;
}
.search-box button a i {
  width: 20px;
  height: 20px;
}

/* Logo giữa */
.logo {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: -80px;
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 45px;
}

/* Icon bên phải */
.icons {
  display: flex;
  align-items: center;
  gap: 25px;
  color: #333;
  font-size: 19px;
  margin-top: 25px;
}

.icons i {
  margin-right: 6px;
}

.icons div {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icons div:hover {
  color: #58bc82;
}
.icons div a {
  text-decoration: none;
  color: black;
}
.icons div a:hover {
  color: #58bc82;
}
/* --- Dòng  menu --- */
.menu {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding: 12px 0;
  border-top: 1px solid #eee;
  font-size: 17px;
  color: #000000;
}
.brand {
  margin-right: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}
.nav-list {
  display: inline-flex;
  list-style: none;
  gap: 120px;
}
.nav-item {
  position: relative;
}
.nav-link {
  text-decoration: none;
  padding: 8px, 12px;
  transition: background 0.2s;
  font-weight: 500;
  font-size: 18px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  min-width: 180px;
  list-style: none;
  padding: 6px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  transition: all 0.3s ease;
  z-index: 10;
}
.submenu li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #000000;
}
.submenu li a:hover {
  background: rgb(233, 233, 233);
  color: #07b851;
  font-weight: 500;
}
.has-submenu:hover > .submenu,
.has-submenu:focus-within > .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.sub-submenu {
  left: 100%;
  top: 0;
}
.menu a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}
.menu a:hover {
  color: #58bc82;
}
