* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #222;
  background-color: #fff;
  padding: 40px 1px;
}
/* Breadcrumb */
.breadcrumb {
  padding: 2px 50px 30px 2px;
  font-size: 13px;
  color: #000000;
}

.breadcrumb a {
  color: #000000;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #008000;
  text-decoration: underline;
}

/* Main layout */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 50px;
  gap: 40px;
}

/* Sidebar */
.sidebar {
  width: 230px;
}

.filter-box {
  border: 1px solid #008000;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 25px;
}

.filter-title {
  background-color: #008000;
  color: #fff;
  padding: 6px 12px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
}

.filter-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-box li {
  margin: 8px 0;
}
.filter-box .Category:hover {
  color: #008000;
  text-decoration: underline;
  cursor: pointer;
}

.filter-box input[type="radio"] {
  margin-right: 8px;
  cursor: pointer;
}

/* Color palette */
.colors {
  display: grid;
  grid-template-columns: repeat(6, 20px);
  gap: 10px;
  margin-top: 10px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}
.color-circle:hover {
  border: 1px solid black;
}
/* Product section */
.products {
  flex: 1;
  max-width: 1000px;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.products-header h2 {
  margin: 0;
  font-size: 20px;
}

/* Product grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.product-grid a {
  text-decoration: none;
}
.product-card {
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  text-align: center;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-info {
  padding: 10px;
}

.product-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  height: 38px;
  overflow: hidden;
}

.price {
  color: #008000;
  font-weight: bold;
  margin: 5px 0;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  font-size: 13px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-box {
    width: 45%;
    margin: 10px;
  }
}
